<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <autologin>
            <customer>
                <enabled>0</enabled>
                <id/>
            </customer>
            <user>
                <enabled>0</enabled>
                <id/>
            </user>
        </autologin>
    </default>
</config>
